@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-white font-sans bg-background bg-fixed;
        font-size: 62.5%;
    }
}

@layer utilities {
    .max-overview {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}